<section class="site-section site-about-us">
    <div class="container">
        <div class="welcome-info">
            <h1>Who we are</h1>
            <p>Our love for pets and their owners <br>drives everything we do.</p>
            <div class="stats-info">
                <div class="stats-info-content">
                    <span>4K+</span>
                    <p>Clients</p>
                </div>
                <div class="stats-info-content">
                    <span>8+</span>
                    <p>Employee</p>
                </div>
                <div class="stats-info-content">
                    <span>4+</span>
                    <p>Years experience</p>
                </div>
            </div>
        </div>

        <div class="our-story">
            <div class="text">
                <h2>Our Story</h2>
                <p>Since 2019, we`ve revolutionized pet care by setting new industry standarts. With a nationwide
                    presence,
                    we providq excecptional care for your beloved pets in various tailored enviroments.
                </p>
                <span>Our Values</span>
                <ul>
                    <li><i class="fa-solid fa-chevron-right"></i>Always be transperent</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Work compassionately</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Take pride in our community</li>
                    <li><i class="fa-solid fa-chevron-right"></i>Be Curious</li>
                </ul>
            </div>
            <div class="img-wrapper">
                <img src="https://plus.unsplash.com/premium_photo-1681881913984-5c78810a9f9e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="dog-lovers-image">
            </div>
        </div>

        <div class="our-team">
            <h2>Meet our team</h2>
        </div>
        <div class="our-doctors">
            <div class="dr-1">
                <img src="https://plus.unsplash.com/premium_photo-1664298587435-cf106955e9c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="docotr-img">
                <p>Ivan Petrov</p>
            </div>
            <div class="dr-2">
                <img src="https://plus.unsplash.com/premium_photo-1663046031313-e3b56a3d8983?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="docotr-img">
                <p>Mariya Petrova</p>
            </div>
            <div class="dr-3">
                <img src="https://plus.unsplash.com/premium_photo-1664300927900-83a4b6209a9b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="docotr-img">
                <p>Andreya Arnaudova</p>
            </div>
        </div>

    </div>
</section>