<div class="site-section site-services">
    <div class="container">
        <section class="welcome">
            <div class="text">
                <h1>Pamper Your Pet With Our Pawsome Services!</h1>
            </div>
            <div class="img-wrapper">
                <div class="dog">
                    <img src="../../assets/services/dog-services.png" alt="dog-img">
                </div>
            </div>
        </section>

        <section class="services">
            <article class="physical-exam">
                <div class="content">
                    <h3 class="heading">Physical exam</h3>
                    <p class="subheading">Complete Nose To Tail Examination</p>
                    <p class="text">Animals are experts at hiding their pain. Our nose To tail check-up provides a
                        complete
                        review and
                        analysis of your pet`s health, allowing us to determine any concerns.
                    </p>
                    <p class="price"> 1hr/$80</p>
                    <a routerLink="/booking" class="btn">Make an appointment</a>
                </div>
                <div class="img-wrapper">
                    <img src="../../assets/services/services1.png" alt="">
                </div>
            </article>

            <article class="dental-care">
                <div class="content">
                    <h3 class="heading">Dental Care</h3>
                    <p class="subheading">Keep Your Pet`s Smile Bright!</p>
                    <p class="text">Pawsitevely`s dental service includes an oral exam, dental cleaning and polishing,
                        and if necessary extractions. The exam helps to screen for early signs of gum disease.
                    </p>
                    <p class="price"> 1hr/$50</p>
                    <a routerLink="/booking" class="btn">Make an appointment</a>
                </div>
                <div class="img-wrapper">
                    <img src="../../assets/services/services2.png" alt="">
                </div>
            </article>

            <article class="flea-tick-control">
                <div class="content">
                    <h3 class="heading">Flea and Tick Control</h3>
                    <p class="subheading">Get ahead of fleas by starting prevention before flea seasons starts.</p>
                    <p class="text">Our range of flea, tick, and internal parasite prevention and treatment products can
                        help you and your pet avoid the painful routine.
                    </p>
                    <p class="price"> 1hr/$120</p>
                    <a routerLink="/booking" class="btn">Make an appointment</a>
                </div>
                <div class="img-wrapper">
                    <img src="../../assets/services/services3.png" alt="">
                </div>
            </article>

            <article class="pet-nutrition">
                <div class="content">
                    <h3 class="heading">Pet Nutrition</h3>
                    <p class="subheading">Your pet needs a healty balanced diet</p>
                    <p class="text">This helps to stay in the best shape possible, throughout their lives. Our Pet
                        Nutrition exprets will tailor a safe and healthy diet for your furry friend to help them live a
                        long and healhty life.
                    </p>
                    <p class="price"> 1hr/$100</p>
                    <a routerLink="/booking" class="btn">Make an appointment</a>
                </div>
                <div class="img-wrapper">
                    <img src="../../assets/services/services4.png" alt="">
                </div>
            </article>
        </section>

    </div>
</div>