<footer class="site-section ">
    <div class="container">
        <div class="site-title">
            <a routerLink="home"><img src="../../../assets/pawsome-logo-nobackground.png" alt="pawsome-logo"></a>
        </div>
        <div class="text-container">
            <div class="left-side">
                <h5>88 Pawsome street, Sofia 1000, BG</h5>
                <a href="#">info<span>(et)</span>pawsome<span>(dot)</span>com</a>

                <P>&copy; All rights reserved.</P>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="socials">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>