<footer class="site-section ">
    <div class="container">
        <div class="site-title">
            <a routerLink="/home"><img src="../../../assets/pawsome-logo-nobackground.png" alt="pawsome-logo"></a>
        </div>
        <div class="text-container">
            <div class="left-side">
                <h5><i class="fa-solid fa-location-dot"></i>88 Pawsome street, Sofia 1000, BG</h5>
                <a href="mailto:info@pawsome.com"><i class="fa-solid fa-envelope"></i>info&#64;pawsome.com</a>
                <p><i class="fa-solid fa-phone"></i>0888 555 454</p>
                <P><i class="fa-solid fa-copyright"></i>All rights reserved.</P>
            </div>
            <div class="right-side">
                <ul>
                    <li><a routerLink="/services">Service</a></li>
                    <li><a routerLink="/about-us">About us</a></li>
                    <li><a routerLink="/blog">Blog</a></li>
                    <!-- <li><a href="#">Contact</a></li> -->
                </ul>
                <div class="socials">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>