.site-home .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
}

.welcome .text {
    flex: 0 1 35%;
    padding-left: 1rem;
}

.text h1 {
    color: var(--main-blue-color);
    font-size: 6rem;
    padding-bottom: 2rem;
}

.text p {
    color: var(--main-grey-color);
    font-size: 1.8rem;
    padding-bottom: 3rem;
    line-height: 1.3;

}

.btn {
    font-size: 1.6rem;
    padding: 0.9rem 1.8rem;
    background-color: #9BEFE0;
    border: 2px solid #9BEFE0;
    color: var(--main-grey-color);
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    text-shadow: 1px 1px 4px var(--main-grey-color);
    transition: all 0.2s ease;
    background-color: #cdf7f0;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);
}

.welcome .img-wrapper {
    flex: 0 1 63%;

    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.cat {
    align-self: flex-end;
    position: relative;
    z-index: 1;
}

.cat img {
    height: 22rem;
    width: auto;
}

.cat::before {
    content: '';
    display: block;
    height: 17rem;
    width: 17rem;
    background-color: #FF8D6B;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
}

.cat:hover::before {
    background-color: #ffaf97;
}

.cat::after {
    content: '';
    display: block;
    height: 5rem;
    width: 5rem;
    background-color: #9BEFE0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -35%;
}

.small-dog {
    align-self: center;
    position: relative;
    z-index: 1;
}

.small-dog img {
    height: 17rem;
    width: auto;
}

.small-dog::before {
    content: '';
    display: block;
    height: 14rem;
    width: 14rem;
    background-color: #1B4F8D;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
}

.small-dog:hover::before {
    background-color: #8da7c6;
}

.small-dog::after {
    content: '';
    display: block;
    height: 4rem;
    width: 4rem;
    background-color: #FFDC6E;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -35%;
    right: -5%;
}

.big-dog {
    position: relative;
    z-index: 1;
}

.big-dog:hover::before {
    background-color: #cdf7f0;
}

.big-dog img {
    height: 41rem;
    width: auto;
}

.big-dog::before {
    content: '';
    display: block;
    height: 30rem;
    width: 30rem;
    background-color: #9BEFE0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.big-dog::after {
    content: '';
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: #DCF237;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 15%;
    left: -15%;
}

/* SERVICE SECTION */

.service {
    display: flex;
    padding: 6rem 0;
}

.service .text {
    flex: 0 1 40%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 3rem;
    padding: 2rem;
}

.service .text .btn {
    padding: 0.9rem 1.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--main-blue-color);
    border: 2px solid var(--main-blue-color);
    color: #fff;
    border-radius: 15px;
}


.service .text .btn:hover {
    background-color: #fff;
    color: var(--main-blue-color);
    border: 2px solid var(--main-blue-color);
    text-shadow: 1px 1px 4px var(--main-blue-color);
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);

}

.service .text h3 {
    font-size: 4.4rem;
    line-height: 1.3;
    color: var(--main-grey-color);
}


.service .service-container {
    flex: 0 1 60%;
}

.service .service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.service .service-info {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);
}

.service .service-info:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.8);

}

.service-info .fa-solid {
    font-size: 3.5rem;
    color: var(--main-blue-color);
}

.service-info h5 {
    color: var(--main-blue-color);
    font-size: 2.4rem;
}

.service-info p {
    font-size: 1.8rem;
    color: var(--main-grey-color);
}