<div class="site-section site-home ">
    <section class="welcome container">
        <div class="text">
            <h1>Pawsome Purffect Care</h1>
            <p>We provide quality pet care and personalized treatment plans for your pet.</p>
            <a href="" class="btn">Make an appointment</a>
        </div>
        <div class="img-wrapper">
            <div class="cat">
                <img src="../../assets/home-cat-img.png" alt="cat-img">
            </div>
            <div class="small-dog">
                <img src="../../assets/home-small-dog.png" alt="small-dog-img">
            </div>
            <div class="big-dog">
                <img src="../../assets/home-big-dog.png" alt="big-dog-img">
            </div>
        </div>
    </section>
</div>