<div class="container site-section">
    <div class="booking-container">
        <form [formGroup]="postNewBlogForm" (ngSubmit)="postFormHandler()">
            <h1>Share your story</h1>
            <input type=" text" class="form-control" formControlName="title" id="title" placeholder="Title" required>
            <input type="text" class="form-control" formControlName="subTitle" id="subTitle" placeholder="Subtitle"
                required>
            <input type="text" class="form-control" formControlName="imageUrl" id="imageUrl" placeholder="Image"
                required>
            <textarea class="form-control" id="text" formControlName="text" placeholder="Your text" required></textarea>
            <button type="submit" class="btn">Post</button>
        </form>
        <div class="img-wrapper"></div>
    </div>
</div>