<div class="container site-section">
    <div class="booking-container">
        <form>
            <h1>Share your story</h1>
            <input type=" text" class="form-control" formControlName="title" id="title" placeholder="Title">
            <input type="text" class="form-control" formControlName="subTitle" id="subTitle" placeholder="Subtitle">
            <input type="text" class="form-control" formControlName="imageUrl" id="imageUrl" placeholder="Image">
            <textarea class="form-control" id="text" formControlName="text" placeholder="Your text"></textarea>
            <button type="submit" class="btn">Post</button>
        </form>
        <div class="img-wrapper"></div>
    </div>
</div>