<header class="site-section site-header container">
    <div class="site-title">
        <a routerLink="home"><img src="../../../assets/pawsome-log.png" alt="pawsome-logo">Pawsome</a>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="#">Service</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="sing-in">
        <a routerLink="sign-in" class="btn">sign in</a>
    </div>
</header>