.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-blue-color);

    position: relative;
}

.site-title a {
    display: block;
    width: 200px;
    height: 60px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('../../../assets/pawsome-log.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.site-title a:hover {
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.navigation {
    display: flex;
}

.navigation ul {
    display: flex;
    gap: 4rem;
}

.navigation ul a {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-grey-color)
}

.navigation ul a:hover {
    color: var(--main-blue-color);
    text-shadow: 1px 1px 4px var(--main-blue-color);
    transition: all 0.2s ease;
}

.btn {
    padding: 0.9rem 1.8rem;
    font-size: 1.7rem;
    letter-spacing: 0.75px;
    font-weight: 600;
    background-color: var(--main-blue-color);
    border: 2px solid var(--main-blue-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 4rem;
}

.btn:hover {
    background-color: #fff;
    color: var(--main-blue-color);
    border: 2px solid var(--main-blue-color);
    text-shadow: 1px 1px 4px var(--main-blue-color);
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);

}


/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    /* height: 4.8rem; */
    /* width: 4.8rem; */
    font-size: 4rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}


@media screen and (max-width: 700px) {

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
        z-index: 999;
    }

    .navigation {
        background-color: rgba(255, 255, 255, 0.965);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        /* transition: all 0.2s ease-in; */

        /* 2) Make it unaccessible to mouse and keyboard */
        /* pointer-events: none; */

        /* 3) Hide it from screen readers */
        visibility: hidden;
        z-index: 999;

    }

    .nav-open .navigation {
        opacity: 100;
        pointer-events: auto;
        visibility: visible;
        /* transform: translateX(0); */
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .navigation-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .btn {
        margin: 0;
    }
}

