<header class="site-section site-header container">
    <div class="site-title">
        <a routerLink="/home"><img src="../../../assets/pawsome-log.png" alt="pawsome-logo">Pawsome</a>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">About us</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li *ngIf="(isAuthenticated)"><a routerLink="/my-profile">My Profile</a></li>
        </ul>
    </div>
    <div class="sing-in">
        <div *ngIf="!(isAuthenticated)">
            <a routerLink="/sign-in" class="btn btn-sign-in">signin</a>
        </div>
        <div *ngIf="(isAuthenticated)">
            <a (click)="logoutHandler()" class="btn btn-logout">logout</a>
        </div>
    </div>
</header>