<section class="site-section site-blog">
    <div class="container">
        <div class="hero">
            <div class="intro">
                <div class="intro-container">
                    <h1>
                        The Dog Owner`s Handbook: Building a Lifelong Friendship
                    </h1>
                    <p>When a pet parent brings a dog intro their life it is a joyful and rewarding experiance, but it
                        also comes with great responsibility</p>
                    <a routerLink="/create-blog" class="btn">Share your story &rarr;</a>
                </div>
            </div>
            <div class="img-wrapper">
                <img src="../../../assets/blog/blog1.jpg" alt="dog image">
            </div>
        </div>

        <div class="blogs-container grid grid-3">
            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more &rarr;</a>
                </div>
            </article>

            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more</a>
                </div>
            </article>

            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more</a>
                </div>
            </article>

            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more</a>
                </div>
            </article>

            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more</a>
                </div>
            </article>

            <article>
                <div class="img-wrapper">
                    <img src="../../../assets/blog/blog2.jpg" alt="image">
                </div>
                <div class="text-container">
                    <h3>How Often Do You Walk Your Dog? Find Right Balance</h3>
                    <p>Walking your dog is not just a mundance chore</p>
                    <a href="" class="btn">Read more</a>
                </div>
            </article>

        </div>



    </div>



</section>