<div class="container site-section" [class.right-panel-active]="rightPanelActive">
    <div class="auth-container ">
        <!-- Sign up form -->
        <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm" (ngSubmit)="onRegisterHandler()">
                <h1>Create Account</h1>
                <!-- <div class="social-container">
                    <a href="" class="social"></a>
                    <a href="" class="social"></a>
                    <a href="" class="social"></a>
                </div>
                <span>or Use Your Email For Registration</span> -->
                <input type="text" id="username" placeholder="Username" formControlName="username" required>
                <input type="email" id="email" placeholder="Email" formControlName="email" required>
                <input type="password" id="password" placeholder="Password" formControlName="password" required>
                <input type="password" id="repeatPassword" placeholder="Repeat Password"
                    formControlName="repeatPassword" required>
                <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
            </form>
        </div>

        <!-- Sign in form -->
        <div class="form-container sign-in-container">
            <form [formGroup]="signInForm" (ngSubmit)="onLoginHandler()">
                <h1>Sign in</h1>
                <!-- <div class="social-container">
                    <a href="" class="social"></a>
                    <a href="" class="social"></a>
                    <a href="" class="social"></a>
                </div>
                <span>or Use Your Account</span> -->
                <input type="email" id="email" placeholder="Email" formControlName="email" required>
                <input type="password" id="password" placeholder="Password" formControlName="password" required>
                <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
                <a href="">Forgot your password?</a>
            </form>
        </div>

        <!-- Card Slider -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Please login with your personal info</p>
                    <button (click)="toggleRightPanel()" class="ghost " id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Are you new?</h1>
                    <p>Please proceed with registration</p>
                    <button (click)="toggleRightPanel()" class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
</div>