<div class="container site-section">
    <div class="booking-container">
        <div class="img-wrapper"></div>
        <form [formGroup]="bookingForm" (ngSubmit)="submitBookingForm()">
            <h1>Book an appointment</h1>
            <input type="text" class="form-control" name="petName" id="petName" placeholder="Name of your pet"
                formControlName="petName">
            <input type="text" class="form-control" name="petType" id="petType" placeholder="Kind of animal"
                formControlName="petType">
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone"
                formControlName="phoneNumber">
            <textarea class="form-control" id="reason" placeholder="Your message" formControlName="reason"></textarea>
            <button type="submit" class="btn">Submit</button>
            <p>We`ll call you for further information...</p>
        </form>
    </div>
</div>